@media (max-width: 614px) {
  * {
    box-sizing: border-box;
  }

  .page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fb6b6b;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 135px;
    height: 160px;
  }

  .logo-small {
    margin: auto 20px;
    width: 70px;
    height: 70px;
  }

  .title {
    width: 257px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Righteous";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin: 13px auto;
  }

  .start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 55px;
    background-color: #ffffff;
    color: #d70900;
    border: 1px solid #d70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: "Recursive";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    margin: 30px auto;
  }

  .hidden {
    display: none;
  }

  .questions {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 50px auto;
  }

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 65px;
    background-color: #ffffff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: "Recursive";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    padding: 15px;
    margin: 12px auto;
  }

  ion-icon[name="play-outline"] {
    font-size: 35px;
  }

  .done {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: "Recursive";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    background-color: #ffffff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  }

  .card-question,
  .card-answer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 130px;
    background-color: #ffffd4;
    font-family: "Recursive";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    padding: 15px;
    margin: 12px auto;
    position: relative;
  }

  .card-question img {
    position: absolute;
    bottom: 5px;
    right: 10px;
  }

  .wrong,
  .almost,
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85px;
    height: 37px;
    font-family: "Recursive";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
  .wrong {
    background-color: #ff3030;
    position: absolute;
    bottom: 5px;
    left: 10px;
  }

  .almost {
    background-color: #ff922e;
    position: absolute;
    bottom: 5px;
    left: 108px;
  }

  .right {
    background-color: #2fbe34;
    position: absolute;
    bottom: 5px;
    right: 10px;
  }

  .wrong-answer,
  .almost-answer,
  .right-answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 65px;
    background-color: #ffffff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: "Recursive";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding: 15px;
    margin: 12px auto;
    color: #ff3030;
    text-decoration: line-through;
  }

  .almost-answer {
    color: #ff922e;
  }

  .right-answer {
    color: #2fbe34;
  }

  ion-icon[name="close-circle"] {
    color: #ff3030;
    font-size: 30px;
  }
  ion-icon[name="help-circle"] {
    color: #ff922e;
    font-size: 30px;
  }
  ion-icon[name="checkmark-circle"] {
    color: #2fbe34;
    font-size: 30px;
  }

  .congrats {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Recursive";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    background-color: #ffffff;
    margin: 15px auto;
  }

  .congrats img {
    margin: auto 10px;
  }

  .message {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-family: "Recursive";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #333333;
    margin-bottom: 15px;
  }

  .answer-icons {
    margin: 10px auto; 
  }
}
